.btn {
	width: 15rem;
  	height: 4rem;
  	border-radius: 1rem;
	box-shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem #fff;
	display: flex;
	justify-content: center;
	align-items:center;
	justify-self: center;
	cursor: pointer;
	transition: .3s ease;

	&-simple-style {
		/* grid-column: 1 / 2;
		grid-row: 5 / 6; */
		color: #9baacf;

		&:hover {
			color: #6d5dfc;
		}
		&:active {
			box-shadow: inset .2rem .2rem .5rem #c8d0e7,
				inset -.2rem -.2rem .5rem #FFFFFF;
		}
	}
	p {
		font-size: 1.6rem;
	}
}